:root {
  /* todo: rename vars to salmon, pink, wine, ochre, etc */
  --black: #000000;
  --white: #ffffff;
  --text: #ff8585;
  --background: #14000f;
  --input-background: #24021a;
  --recipe-card-background: #e9dfd6;
  --pink: #ebbfcf;
}
